@charset "utf-8";
h1{
	text-align: right;
	direction: rtl;
	
}
body{ 
	background:#4C5008
}
.container{
	width: 100%;
	height: auto;
	margin: auto;
}
.images{
	float: right;
	margin-bottom: 20px;
	margin: 10px;
	height: auto;
	width: 400px;
	border-radius: 10px;
}
.vid{
	width: 500px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	
}
